
body {
    background-color: #A52A2A;
    text-color: #FFA07A;
    text-align: center;
    image: bottom;
    <img>http://wallpaper-download.net/wallpapers/nature-wallpapers-fall-leaves-autumn-wallpaper-34942.jpg

}

#id {
    font-family: "Avant_garde";
    font-size: 22px;
  }
