html{
  font-family: helvetica;
  background-image: url("http://i1045.photobucket.com/albums/b452/ashermn2/dark_embroidery_zpsxbqkvkbl.png");
  background-repeat: repeat;
  padding-left: 20px;
  padding-top: 20px;
}

p{
  font-size: 2e;
    color:rgb(207, 206, 206);
}
h1 {
  font-size: 3e;
  color:rgb(207, 206, 206);
}
h2{
  font-size: 2e;
    color:rgb(207, 206, 206);

}
li{
  font-size: 1.2e;
    color:rgb(207, 206, 206);
}
img{
  width: 50%;
  height: 50%;
  text-align: left;
  border-radius: 15px;
  padding-bottom: 5px;
}
