header {
      margin: 0 auto;
      max-width: 300px;
      text-align: center;
      background: url("http://i.imgur.com/X9Th4zT.jpg");
    }

body {
  background: #495469;
  background: url("http://i.imgur.com/Ljw3q98.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1200px;
  color: grey;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  color: grey;
}

h3 {
  background: black;
  background: linear-gradient(bottom, rgba(10,0,0,1), rgba(10,0,0,.3));
  background: -webkit-linear-gradient(bottom, rgba(10,0,0,1), rgba(10,0,0,.3));
  background: -moz-linear-gradient(bottom, rgba(10,0,0,1), rgba(10,0,0,.3));
  font-family: sans-serif;
  text-align: left;
  color: grey;
  padding: 50px 0px 0px 0px;
}
p {
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.3));
  color: grey;
  font-size: 20px;
  line-height: 28px;
  padding: 50px;
  text-align: justify;
}

img {
  border: 7px solid rgba(217,195,100,1);
  border-radius: 100px 100px 0px 0px;
  margin: 0 0 0 0;
  position: relative;
  top: 15px;
  width: 200px;
}
