body{
  background-image: imgur.com/40TIgj8("Clouds");
  padding-left: 370px;
  padding-right: 370px;
}
h1{
  background-color: #8cf2c7;
  color: #835555;
  font-family: sans-serif;
  text-align: center;
  background-position: center;
  font-size: 25;
}
p{
  background-color: #8cf2c7;
  color: #835555;
  font-family: sans-serif;
  text-align: center;

  }
h3{
  background-color: #8cf2c7;
  color: #835555;
  font-family: sans-serif;
  text-align: right;
}
